# SpecStory project identity file
/.project.json
# SpecStory explanation file
/.what-is-this.md
.cursor/
.specstory/

__pycache__/

*.png
*.jpg
.autopilot.json
.cursorindexingignore
.DS_Store

*.json
*.jsonl